/* Main CSS
------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

  color: black;
  font-family: sans-serif;
  font-size: 17px;
}
.alrighRight{
  float:right;
  padding-right:150px;
}
.alignLeft{
  float:left;
}
#searchbox {
  text-align: center;
  border: 10px solid transparent;
  vertical-align:top;
}
.mytext {
  width: 300px;
}
#loop {
  padding-bottom: 10px;
}

#box {
  width: 100%;
  margin: 0 auto;
  background-color: #eee;
}
#headerNew {
  float: right;
}
#h3padding {
  padding-bottom: 20px;
  padding-left: 20px;
}
#noStock{
  padding-left: 20px;
}

#totalProducts {

  padding-left: 20px;
}

.item{
  width: 31%;
  margin-right: 2%;
  float: left;
  margin-bottom: 70px;
}

.item p{
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item h3 {
  text-align: center;
}

.item img{
  width: 100%;
  height: 200px;
  width: 200px;
}
.run {
  padding-left: 20px;
}
.noResults{
  text-align: center;
  color:red;
  font-size:20px;
}
#searchbox {

  text-align: center;
  border: 10px solid transparent;
  vertical-align:top;
}
.item{
  width: 31%;
  margin-right: 2%;
  float: left;
  margin-bottom: 70px;
}

.item p{
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item h2 {
  text-align: center;
}

.item img{
  width: 100%;
  height: 200px;
  width: 200px;
}
.categoryContent{
  width: 10%;
  margin-right: 2%;
  float: left;
}

.paddingBottom{
  padding-bottom: 20px;
}
#productDeleteShow{
    display: none;
    postion: absolute;
    display: none;
    font-size: 25px;
    text-align: center;
    top: 18%;
    color: green;
}
#productModifyShow{
  display: none;
  postion: absolute;
  display: none;
  font-size: 25px;
  text-align: center;
  top: 18%;
  color: green;
}
#productAddedSuccessfully{
  display: none;
  postion: absolute;
  display: none;
  font-size: 25px;
  padding-left: 10px;
  top: 18%;
  color: green;
}
.floatLeft{
  padding-left: 20px;
}
.floatLeftAndStyle{
  padding-left: 20px;
  font-style: italic;
  font-weight:bold;
}
.bold {
  font-weight: bold;
}
.wrapper{
  margin: 0 auto;
  width: 70%;
}


.itemModal h2 {
  text-align: center;
  font-size: 30px;
  font-style: bold;
}
.itemModal p {
  text-align: center;
}
#pmodal {
  margin-top: 1px;
  margin-right: 150px;

}
.itemModal img{
  margin-left: 15px;
  margin-top: 0px;
  float: left;
  width: 100%;
  height: 300px;
  width: 300px;
}

#searchbox {
  text-align: center;
  border: 10px solid transparent;
  vertical-align:top;
}
#searchAJAX {
  text-align: center;
}
.mytext {
  width: 300px;
  height: 50px;
}

.modal{
  margin: auto;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  width: 50%;
  height: 55%;

  background: white;
  box-shadow: 1px;
  box-shadow: 0 0 0 1000px   rgba(0,0,0,.5);
}

.modal--hidden{
  display: none;
}

.bold {
  font-weight: bold;
}
.centre {
  text-align: center;
  margin-left: 16%;
}
.basketSurrounding{
  margin-right: 10px;
  float:right;
}
.basketSurrounding img{
  height: 25px;
  width: 25px;
}
#basketTotalOnHover{
  display: none;
  position:absolute;
  right:0px;
  top:50px;
  width: 200px;
  border:2px solid #a1a1a1;
  background:#dddddd;
  border-radius:25px;
  opacity: 0.99;
}
.successBasket{
  display: none;
  postion: absolute;
  display: none;
  font-size: 25px;
  text-align: center;
  top: 18%;
  color: green;
}
#changeQuantityInBasketFail{
  postion: absolute;
  display: none;
  font-size: 100px;
  text-align: center;
  top: 18%;
  color: red;
}
.modifyQuantityInLocalStorage{
  width: 40px;
}

.bigButton{
  width: 100px;
  height: 100px;
}
.middle{
  text-align: center;
}

/* navigation Bar CSS
------------------------------------------*/
nav {
  margin: 10px auto;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: 1px;
}

nav ul {
  background: #fff;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding:  0px;
  border-radius: 10px;
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul li:hover {

  font-weight:bold;
}
nav ul li:hover a {
  color: black;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block; padding: 10px 15px;
  color: #757575; text-decoration: none;
}


/* Headers CSS
------------------------------------------*/

h1 {

  display:block;
  text-align: left;
  padding-bottom:15px;
  padding-top: 15px;
  font-size: 23px;
}
h2 {
  display:block;
  text-align: left;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
}
h3 {
  display:block;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
}
/* Genreal CSS
------------------------------------------*/
section
{
  padding: 1em;
  padding-right: 2em;
  color: black;

}
p
{
  padding-bottom: 10px;
}
footer
{

  text-align: center;
  width: 100%;
  background: #ffffff;
  border-top: solid;
  border-width: 1px;
  padding-top: 15px;

}

fieldset {
    border-radius: 10px;
    background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    border: 2px groove threedface;
}
legend {
    position: absolute;
    top: -2px;
    background: #fff;
    padding: 10px 20px;
    border: 2px groove threedface;
    border-top: none;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font-weight: bold;
}
legend span {
    display: block;
    margin: -20px;
    background: #fff;
    padding: 0px 20px;
}


/* Listing
------------------------------------------*/
ul
{
  padding-bottom: 10px;
  padding-left: 10px;
}
ul>li
{
  padding: 5px;
}

/* CLASSES
------------------------------------------*/
/* Header for Overall document
------------------------------------------*/

.header{
      text-align: center;
      font-size: 35px;
      padding-bottom: 20px;
      padding-top: 1px;
}

.spacing{
  padding-top: 100px;
}
.center{
  display: inline-block;
  text-align:left;
}
section.header h1
{
      text-align: center;
      font-size: 35px;
      padding-bottom: 1px;
      padding-top: 1px;
}



section.searchRight
{

  border-style:solid;
  border-width:1px;
  /*float:left;*/
  padding-right: 10px;
  margin-left: 10px;
}


/* Media queries
------------------------------------------*/

@media screen and (max-width: 1200px){
  .modal, .wrapper{ width: 85%; }
}

@media screen and (max-width: 1000px){
  .modal, .wrapper{ width: 80%; }
}

@media screen and (max-width: 900px){
  .modal, .wrapper{
    font-size: .95em;
    width: 80%;
  }
}

@media screen and (max-width: 850px){
  .modal, .wrapper{
    font-size: .95em;
    width: 80%;
  }
}

@media screen and (max-width: 800px){
  .modal, .wrapper{ width: 100%; }
}
